<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a post</title>
</head>
<body>

<form th:action="@{/addPost}"   th:object = "${post}" method="post">

    <label for="title">Title of post</label>
    <p><input id="title" type="text"   th:field = "*{title}" />   </p>

    <label for="postText">Text</label>
    <p><textarea id="postText" type="text"   th:field = "*{text}" /></p>

    <label for="category">Category</label>
    <p><select id="category" th:field = "*{category}">
        <option value="travels">Travels</option>
        <option value="food">Food</option>
        <option value="beauty">Beauty</option>
    </select></p>

    <p><input type="submit" value= "add post" /></p>
</form>

</body>
</html>